@import "tailwindcss";


*{
  background-color:#0B0B0B;
}

.chat{
  background: #333;
}
/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.45);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.35) transparent;
}





.prose table {
  @apply w-full border border-gray-300 border-collapse;
}

.prose th {
  @apply border border-gray-300 px-4 py-2  text-left;
}

.prose td {
  @apply border border-gray-300 px-4 py-2;
}
