@import "tailwindcss";

body {
  background-color: #0b0b0b;
}

/* Custom Stylish Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); /* Very light white */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2); /* Slight highlight on hover */
}

.prose table {
  @apply w-full border border-gray-300 border-collapse;
}

.prose th {
  @apply border border-gray-300 px-4 py-2  text-left;
}

.prose td {
  @apply border border-gray-300 px-4 py-2;
}
